*{
	text-size-adjust: 13px;
}
Body{
	
	height: 100%;
	width: 100%;
	

}
input{
	float: right;

}
.blanket{
	margin-top: 5%;
	margin-bottom: 5%;
}

.LeftSide{
	width: 46%;
	color: black;
	float: left;
	##margin-left: 2%;
	margin-right: 2%;
}

.RightSide{
	width: 45%;
	color: black;
	float: right;
}
.Service{
	text-align: center;
	margin: 1%;
}
.OrderOfService p{
	width: 40%;
}
#SundayName{
	margin:0;
}

#SundayDate{
	margin:0;
}

#ContactInfo{
	text-align: center;
	line-height: .25;
}
#Title{
	margin-left: 15%;
}
@media
print{
	@page {size: landscape;}
}
