*{
	font-size: 14px;
}
Body{
	
	height: 100%;
	width: 100%;
	

}
input{
	float: right;

}
img{
	width: 25%;
	float: right;
	margin-top: ;
}
#spacer{
	margin: 75%;
	height: 10%;
}
.center{
	margin-left: 15%;

	font-family: lobster, cursive;
	font-size: 16px;
}
.blanket{
	margin-top: 5%;
	margin-bottom: 5%;
}
.blanket-back{
	margin-top: 2%;
}
.LeftSide{
	width: 46%;
	color: black;
	float: left;
	margin-right: 2%;
}

.RightSide{
	width: 45%;
	color: black;
	float: right;
}
.Service{
	text-align: center;
	margin: 1%;
}
.OrderOfService p{
	width: 40%;
}
.Header{
	text-decoration: underline;
	font-weight: bold;
}
.Header-left{
	float: left;
	text-decoration: underline;
	font-weight: bold;
}
.left{
	float: left;
	width: 50%;
}



#Date{
	margin-left: 25%;
	width: 25%;
}
#yrtd{
	margin-bottom: 0;
}
#Full{
	width: 100%;
	margin: 0;
}

#SundayName{
	margin:0;
}

#SundayDate{
	margin:0;
}

#ContactInfo{
	text-align: center;
	line-height: .25;
}
#Title{
	margin-left: 15%;
}
#Birthdays{
	width: 50%;
	float: left;
	height: 12em;
}
#Birthdays p{
	height: 1em;
}
#Anniversaries{
	width: 50%;
	float: right;
	height: 12em;
}
#Anniversaries p{
	height: 1em;
}
#Attendance{
	float: left;
	width: 50%;
}

#Cleaning{
	width: 50%;
	float: right;
}
#Cleaner{
	float: right;
	width: 50%;
}
.Rx{
	float: right;
	width: 20%;
}
.Rx-left{
	width: 80%;
@media
print{
	@page {size: landscape;}
}
